@model MXKJ.JSJRZ.WebUI.Models.SafeManager.EditEducationViewModel
@using System.Web.Optimization
@{
    ViewBag.Title = "编辑学生安全教育记录";
    Layout = "~/Views/Shared/_LayoutSafe.cshtml";
}
@section CSS{
    @Styles.Render("~/bundles/datepicker/css")
}
@section JS {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datepicker/js")
}
<body class="hold-transition sidebar-mini" s style="background-color:#ecf0f5;">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div>
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    编辑学生安全教育记录
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                @using (Html.BeginForm("EditEducation", "SafeManager", FormMethod.Post, new { role = "form" }))
                {
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header with-border text-right">
                                    <h3 class="box-title"><button type="submit" class="btn btn-danger">保存</button>&nbsp&nbsp<button type="button" onclick="history.go(-1)" class="btn btn-default">返回</button></h3>
                                    <h4 class="text-left">
                                        <p>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
                                        <p>@Html.ValidationMessageFor(m => m.Theme, "", new { @class = "text-danger" })</p>
                                        <p>@Html.ValidationMessageFor(m => m.Time, "", new { @class = "text-danger" })</p>
                                    </h4>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label>主题<a style="color:red">*</a></label>
                                                @Html.TextBoxFor(m => m.Theme, new { @class = "form-control", placeholder = "请输入主题" })
                                                @Html.HiddenFor(m=>m.ID)
                                            </div>
                                            <div class="form-group">
                                                <label>时间<a style="color:red">*</a></label>
                                                @Html.TextBoxFor(m => m.Time, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "请输入时间" })
                                            </div>
                                            <div class="form-group">
                                                <label>组织者</label>
                                                @Html.TextBoxFor(m => m.Organizer, new { @class = "form-control", placeholder = "请输入组织者" })
                                            </div>
                                            <div class="form-group">
                                                <label>参与学生</label>
                                                @Html.TextBoxFor(m => m.Student, new { @class = "form-control", placeholder = "请输入参与学生" })
                                            </div>
                                            <div class="form-group">
                                                <label>描述</label>
                                                @Html.TextBoxFor(m => m.Describe, new { @class = "form-control", placeholder = "请输入描述" })
                                            </div>
                                        </div><!-- /.box-body -->

                                    </div>

                                </div>
                            </div><!-- /.box -->
                        </div><!--/.col (left) -->
                    </div>   <!-- /.row -->
                }
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
    </div><!-- ./wrapper -->
    <script>
        $('#Time').datetimepicker({
            format: 'yyyy-mm-dd',
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    </script>
</body>
