@model MXKJ.JSJRZ.WebUI.Models.SafeManager.EditSafetyCheckViewModel
@using System.Web.Optimization
@{
    ViewBag.Title = "编辑四防安全检查记录";
    Layout = "~/Views/Shared/_LayoutSafe.cshtml";
}
@section JS {
    @Scripts.Render("~/bundles/jqueryval")

}
<body class="hold-transition sidebar-mini" s style="background-color:#ecf0f5;">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div>
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    编辑四防安全检查记录
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                @using (Html.BeginForm("EditSafetyCheck", "SafeManager", FormMethod.Post, new { role = "form" }))
                {
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header with-border text-right">
                                    <h3 class="box-title"><button type="submit" class="btn btn-danger">保存</button>&nbsp&nbsp<button type="button" onclick="history.go(-1)" class="btn btn-default">返回</button></h3>
                                    <h4 class="text-left">
                                        <p>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
                                        <p>@Html.ValidationMessageFor(m => m.Time, "", new { @class = "text-danger" })</p>
                                    </h4>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label>检查时间<a style="color:red">*</a></label>
                                                @Html.TextBoxFor(m => m.Time, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "请输入检查时间" })
                                                @Html.HiddenFor(m => m.ID)
                                            </div>
                                            <div class="form-group">
                                                <label>检查部位</label>
                                                @Html.TextBoxFor(m => m.Position, new { @class = "form-control", placeholder = "请输入检查部位" })
                                            </div>
                                            <div class="form-group">
                                                <label>检查情况</label>
                                                @Html.TextAreaFor(m => m.Condition, 6, 50, new { @class = "form-control", placeholder = "请输入检查情况" })
                                            </div>
                                            <div class="form-group">
                                                <label>检查人员</label>
                                                @Html.TextAreaFor(m => m.Crew, 6, 50, new { @class = "form-control", placeholder = "请输入检查人员" })
                                            </div>
                                            <div class="form-group">
                                                <label>备注</label>
                                                @Html.TextAreaFor(m => m.Memo, 6, 50, new { @class = "form-control", placeholder = "请输入备注" })
                                            </div>
                                        </div><!-- /.box-body -->

                                    </div>

                                </div>
                            </div><!-- /.box -->
                        </div><!--/.col (left) -->
                    </div>   <!-- /.row -->
                }
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
    </div><!-- ./wrapper -->
</body>
