@model MXKJ.JSJRZ.WebUI.Models.PeerResponse.StudentScoringViewModel
@using System.Web.Optimization
@{
    ViewBag.Title = "学生互评";
    Layout = "~/Views/Shared/_LayoutPeerResponse.cshtml";
}
@section CSS{
    @Styles.Render("~/bundles/select2/css")
}

@section JS {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/select2/js")
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $(".select2").select2();
            });
        })
    </script>
}

<body class="hold-transition sidebar-mini" s style="background-color:#ecf0f5;">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div>
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    学生互评
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                @using (Html.BeginForm("StudentScoring", "PeerResponse", FormMethod.Post, new { role = "form" }))
                {
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header with-border text-right">
                                    <h3 class="box-title"><button type="submit" class="btn btn-danger">保存</button>&nbsp&nbsp<button type="button" onclick="history.go(-1)" class="btn btn-default">返回</button></h3>
                                    <h4 class="text-left">
                                        <p>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
                                        @Html.HiddenFor(m=>m.StudentID)
                                        @Html.HiddenFor(m => m.OrgID)
                                        @*<p>@Html.ValidationMessageFor(m => m.Theme, "", new { @class = "text-danger" })</p>
                                            <p>@Html.ValidationMessageFor(m => m.Time, "", new { @class = "text-danger" })</p>*@
                                    </h4>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="box-body">
                                            <div class="form-group col-xs-4">
                                                <label>互评同学(1)</label>
                                                @Html.DropDownListFor(m =>m.EvaluateStudentID1, Model.StudentList, "请选择评价同学", new { @class = "form-control  select2", style = "width: 100%;" })
                                                <p></p>
                                                @Html.TextBoxFor(m => m.Score1, new { @class = "form-control", placeholder = "请输入评价分数" })
                                                @Html.HiddenFor(m => m.EvaluateStudentName1)
                                            </div>
                                            <div class="form-group col-xs-4">
                                                <label>互评同学(2)</label>
                                                @Html.DropDownListFor(m => m.EvaluateStudentID2, Model.StudentList, "请选择评价同学", new { @class = "form-control  select2", style = "width: 100%;" })
                                                <p></p>
                                                @Html.TextBoxFor(m => m.Score2, new { @class = "form-control", placeholder = "请输入评价分数" })
                                                @Html.HiddenFor(m => m.EvaluateStudentName2)
                                            </div>
                                            <div class="form-group col-xs-4">
                                                <label>互评同学(3)</label>
                                                @Html.DropDownListFor(m => m.EvaluateStudentID3, Model.StudentList, "请选择评价同学", new { @class = "form-control  select2", style = "width: 100%;" })
                                                <p></p>
                                                @Html.TextBoxFor(m => m.Score3, new { @class = "form-control", placeholder = "请输入评价分数" })
                                                @Html.HiddenFor(m => m.EvaluateStudentName3)
                                            </div>
                                        </div><!-- /.box-body -->
                                    </div>
                                </div>
                            </div><!-- /.box -->
                        </div><!--/.col (left) -->
                    </div>   <!-- /.row -->
                }
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
    </div><!-- ./wrapper -->
</body>

