@model MXKJ.JSJRZ.WebUI.Models.DormitoryManager.EditAdminViewModel
@using System.Web.Optimization
@{
    ViewBag.Title = "编辑管理人员";
    Layout = "~/Views/Shared/_LayoutDormitoryManager.cshtml";
}
@section JS {
    @Scripts.Render("~/bundles/jqueryval")

}
<body class="hold-transition sidebar-mini" s style="background-color:#ecf0f5;">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div>
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    编辑管理人员
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                @using (Html.BeginForm("EditAdmin", "DormitoryManager", FormMethod.Post, new { role = "form" }))
                {
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header with-border text-right">
                                    <h3 class="box-title"><button type="submit" class="btn btn-danger">保存</button>&nbsp&nbsp<button type="button" onclick="history.go(-1)" class="btn btn-default">返回</button></h3>
                                    <h4 class="text-left">
                                        <p>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
                                        <p>@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })</p>
                                        <p>@Html.ValidationMessageFor(m => m.Dormitory, "", new { @class = "text-danger" })</p>
                                    </h4>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label>姓名<a style="color:red">*</a></label>
                                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "请输入姓名" })
                                                @Html.HiddenFor(m=>m.ID)
                                            </div>
                                            <div class="form-group">
                                                <label>工作类型</label>
                                                @Html.TextBoxFor(m => m.WorkType, new { @class = "form-control", placeholder = "请输入工作类型" })
                                            </div>
                                            <div class="form-group">
                                                <label>公寓楼<a style="color:red">*</a></label>
                                                @Html.DropDownListFor(m => m.Dormitory, Model.DormitoryList, "请选择公寓楼", new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                <label>楼层</label>
                                                @Html.DropDownListFor(m => m.Floor, new List<SelectListItem>(), "请选择楼层", new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                <label>工作时间段</label>
                                                @Html.TextBoxFor(m => m.WorkTime, new { @class = "form-control", placeholder = "请输入工作时间段" })
                                            </div>
                                            <div class="form-group">
                                                <label>职务</label>
                                                @Html.DropDownListFor(m => m.Duty, Model.DutyList, "请选择职务", new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                <label>联系方式</label>
                                                @Html.TextBoxFor(m => m.Tel, new { @class = "form-control", placeholder = "请输入联系方式" })
                                            </div>
                                            <div class="form-group">
                                                <label>备注</label>
                                                @Html.TextAreaFor(m => m.Memo, new { @class = "form-control", placeholder = "请输入备注" })
                                            </div>
                                        </div><!-- /.box-body -->
                                    </div>
                                </div>
                            </div><!-- /.box -->
                        </div><!--/.col (left) -->
                    </div>   <!-- /.row -->
                }
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
    </div><!-- ./wrapper -->
</body>
