@model MXKJ.JSJRZ.WebUI.Models.DormitoryManager.HouseAllotViewModel
@using MXKJ.JSJRZ.WebUI.Models.DormitoryManager
@using System.Web.Optimization
@{
    ViewBag.Title = "房间分配";
    Layout = "~/Views/Shared/_LayoutDormitoryManager.cshtml";
}
@section CSS{
    <!-- DataTables -->
    @Styles.Render("~/bundles/DataTable/css")
    @Styles.Render("~/bundles/select2/css")
}
@section JS{
    <!-- DataTables -->
    @Scripts.Render("~/bundles/DataTable/js")
    @Scripts.Render("~/bundles/select2/js")

}
<body class="hold-transition sidebar-mini" style="background-color:#ecf0f5;">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div>
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    房间分配
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header with-border text-left">
                                <h3 class="box-title">
                                    <label>公寓楼:</label>@Html.DropDownListFor(m => m.DormitorySelected, (List<SelectListItem>)Model.DormitoryList, "---请选择---", new { @ID = "DropDownList_Dormitory", @Name = "DropDownList_Dormitory",@class= "form-control select2" })
                                    <label>楼层:</label>@Html.DropDownListFor(m => m.FloorSelected, new List<SelectListItem>(), "---请选择---", new { @ID = "DropDownList_Floor", @Name = "DropDownList_Floor", @class = "form-control select2" })
                                    @Html.ActionLink("查询", "CreateHouse", "DormitoryManager", "", new { @class = "btn btn-danger", })
                                </h3>

                            </div><!-- /.box-header -->
                            <!-- form start -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="box-header">
                                            <h3 class="box-title"></h3>
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <table id="usersTable" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th style="display:none">ID</th>
                                                        <th>建筑名称</th>
                                                        <th>楼层</th>
                                                        <th>房间编号</th>
                                                        <th>面积</th>
                                                        <th>床位数</th>
                                                        <th>剩余床位</th>
                                                        <th>住宿学生</th>
                                                        <th>是否在用</th>
                                                        <th style="width:50px">编辑</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (HouseAllotInfoViewModel vTempHouse in Model.HouseList)
                                                    {
                                                        <tr class="even gradeA">
                                                            <td style="display:none">@vTempHouse.ID</td>
                                                            <td>@vTempHouse.DormitoryName</td>
                                                            <td>@vTempHouse.Floor</td>
                                                            <td>@vTempHouse.Number</td>
                                                            <td>@vTempHouse.Area</td>
                                                            <td>@vTempHouse.BedNumber</td>
                                                            <td>@vTempHouse.ResidueBed</td>
                                                            <td>@vTempHouse.StudentName</td>
                                                            <td>@(vTempHouse.IsUse == true ? Html.Raw("<a style='color:green'>在用</a>") : Html.Raw("<a style='color:red'>停用</a>"))</td>
                                                            <td>@(vTempHouse.IsUse == true ? @Html.ActionLink("分配", "EditHouse", "DormitoryManager", new { ID = vTempHouse.ID }, new { @class = "btn btn-block btn-success" }) : @Html.Raw(""))</td>
                                                        </tr>
                                                    }
                                            </table>
                                        </div><!-- /.box-body -->
                                    </div><!-- /.box -->
                                </div>
                            </div>
                        </div><!-- /.box -->
                    </div><!--/.col (left) -->
                </div>   <!-- /.row -->
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
    </div><!-- ./wrapper -->
    <script>
        var table;
        $(document).ready(function () {
            $(function () {
                table = $('#usersTable').DataTable({
                    responsive: true,
                    Retrieve: true,
                    'language': {
                        'search': '搜索:',
                        'zeroRecords': "没有记录",
                        "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        'lengthMenu': '显示 _MENU_ 条记录',
                        "order": [[3, "desc"]],
                        paginate: {
                            previous: '‹',
                            next: '›'
                        },
                        aria: {
                            paginate: {
                                previous: '上一页',
                                next: '下一页'
                            }
                        }
                    }
                });

                $(".select2").select2();
            });

            $('#usersTable tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });
        })
        
          
         

    </script>
</body>
