@model MXKJ.JSJRZ.WebUI.Models.DormitoryManager.HouseAllotViewModel
@using System.Web.Optimization
@{
    ViewBag.Title = "房间分配";
    Layout = "~/Views/Shared/_LayoutDormitoryManager.cshtml";
}
@section CSS{
}
@section JS {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/layer/js")
}
<body class="hold-transition sidebar-mini" s style="background-color:#ecf0f5;">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div>
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    房间分配
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                @using (Html.BeginForm("HouseAllot", "DormitoryManager", FormMethod.Post, new { role = "form" }))
                {
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header with-border text-right">
                                    <h3 class="box-title"><button type="submit" class="btn btn-danger">保存</button>&nbsp&nbsp<button type="button" onclick="history.go(-1)" class="btn btn-default">返回</button></h3>
                                    <h4 class="text-left">
                                        <p>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
                                        @*<p>@Html.ValidationMessageFor(m => m.DormitoryID, "", new { @class = "text-danger" })</p>
                                            <p>@Html.ValidationMessageFor(m => m.Floor, "", new { @class = "text-danger" })</p>
                                            <p>@Html.ValidationMessageFor(m => m.BedNumber, "", new { @class = "text-danger" })</p>*@
                                    </h4>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label>公寓楼</label>
                                                @Html.TextBoxFor(m => m.DormitoryName, new { @class = "form-control", @readonly = "" })
                                                @Html.HiddenFor(m => m.HouseID)
                                            </div>
                                            <div class="form-group">
                                                <label>楼层</label>
                                                @Html.TextBoxFor(m => m.FloorName, new { @class = "form-control", @readonly = "" })
                                            </div>
                                            <div class="form-group">
                                                <label>房间编号<a style="color:red">*</a></label>
                                                @Html.TextBoxFor(m => m.HouseNumber, new { @class = "form-control", @readonly = "" })
                                            </div>
                                            <div class="form-group">
                                                <label>床位数<a style="color:red">*</a></label>
                                                @Html.TextBoxFor(m => m.BedNumber, new { @class = "form-control", @readonly = "" })
                                            </div>
                                            <div class="form-group">
                                                <label>面积</label>
                                                @Html.TextBoxFor(m => m.Area, new { @class = "form-control", @readonly = "" })
                                            </div>
                                            <div class="form-group">
                                                <label>住宿学生</label>
                                                @Html.TextAreaFor(m => m.StudentName, new { @class = "form-control", @readonly = "" })
                                                <button type="button" id="SelectButton" class="btn btn-danger">选择</button>
                                                @Html.HiddenFor(m => m.StudentID)
                                                @Html.HiddenFor(m => m.OldStudentID)
                                            </div>
                                        </div><!-- /.box-body -->
                                    </div>
                                </div>
                            </div><!-- /.box -->
                        </div><!--/.col (left) -->
                    </div>   <!-- /.row -->
                }
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
    </div><!-- ./wrapper -->
    <script>
        $(document).ready(function () {
            $('#SelectButton').click(function () {
                layer.open({
                    type: 2,
                    area: ['800px', '450px'],
                    fix: false, //不固定
                    maxmin: true,
                    content: '/Common/StudentSelect'
                });
            });
        })

    </script>
</body>
